*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 62.5%;
  background-color: #D3D3D3;
  
}

body {
  flex: 1;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
}
header {
  background-color: #87CEFA;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex; 
  align-items: center; 
  
}

.logo img {
  width: 200px;
  height: 200px;
}

.nav-container {
  flex: 1; 
  display: flex; 
  justify-content: center; 
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem; 

}

.nav-menu {
  list-style: none;
  
  background-color: #98C1D9;
  min-height: 2rem;
  
}

.nav-menu > li {
  display: inline-block;
  position: relative;
}

.nav-menu > li > a {
  display: block;
  
  padding-right: 4rem;
   
   padding-left: 4rem ;
  color: #E0F80A;
  text-decoration: none;
}

.nav-menu > li > a:hover {
  background-color: #555;
}


.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #333;
  list-style: none;
  padding: 0;
  min-width: 150px;
  z-index:  1;
}

.dropdown-menu > li {
  display: block;
}

.dropdown-menu > li > a {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu > li > a:hover {
  background-color: #555;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

main {
  padding: 1rem;
}
  
h1 {
  font-size: 2rem;
}
  
form label {
  display: block;
  margin-top: 1rem;
}
  
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
  
  form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #8FBC8F;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .banner {
    background-image:url(https://www.hardgamers.com.ar/public/images/country/ar/stores/integradosargentinos/banner-middle.gif); /* url('Banner_Desktop_HP_Laptop.jpg');*/
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

.menu {
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.menu a:hover {
  background-color: #3d8b40;
  border-radius: 5px;
}

  
  .content-wrap {
    flex: 1;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  

  .text-main{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

.about-us{
  font-size: 1.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 150px; 
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.stock {
  color: green;
  font-weight: bold;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.installments {
  color: #4CAF50;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.featured-products-title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.our-difference-title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.our-difference-subtitle{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.our-difference-text{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  margin-left: 5rem;
}

.testimonials-section {
  background-color: #F0F4F8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem;
  max-width: 350px;
}

.testimonial-text {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: justify;
}

.testimonial-author {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  text-align: right;
}

.testimonial-location {
  font-size: 1.5rem;
  color: #999;
  text-align: right;
}

.social-icons a img{
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
}

.newsletter-social{
  margin: 2rem;
}
footer p{
  font-size: 2rem;
}

.difference-card img{
  width: 2rem;
  height: 2rem;
}

.difference-card {
  display: flex;
  flex-direction: column;
}

.difference-card-header {
  display: flex;
  align-items:baseline;
}

.our-difference-text {
  margin-top: 2rem;
}